.content {
  .container-fixed();
}

@media (min-width: @screen-tablet) {
  .content {
    max-width: @container-tablet;
  }
}

@media (min-width: @screen-desktop) {
  .content {
    max-width: @container-desktop;
  }
}

@media (min-width: @screen-tablet) {
  .post {
    padding-top: 70px;
  }
}
