<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jan Ehrhardt">
    <link rel="alternate" type="application/atom+xml" title="Feed" href="http://feeds.feedburner.com/derjanio">
    <link href="/assets/css/styles.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/assets/js/fix-ie.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="content">
      {{ content }}
    </div>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
