<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {% if page.title %}
    <title>{{ page.title }} | Jan Ehrhardt</title>
    {% else %}
    <title>Jan Ehrhardt</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jan Ehrhardt">
    <meta name="description" content="personal blog">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Ubuntu:300|Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <nav>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="/">Jan Ehrhardt</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="https://twitter.com/derjan">Twitter</a></li>
                  <li><a href="https://github.com/jehrhardt">Github</a></li>
                  <li><a href="https://www.xing.com/profile/Jan_Ehrhardt2">XING</a></li>
                  <li><a href="http://feeds.feedburner.com/derjanio">RSS</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    {{ content }}

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-9257831-16']);
    _gaq.push(['_trackPageview']);

    (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>

    <script type="text/javascript">
    var disqus_shortname = 'derjanio';
    var disqus_identifier = 'http://derjan.io{{ page.url }}';

    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
  </body>
</html>
