---
layout: default
post: page
---

<div class="grid wrap">
  <div class="unit two-thirds">
    <article>
      <header>
        <p>{{ page.date | date_to_long_string }}</p>
        <h1>{{ page.title }}</h1>
      </header>
      {{ content }}
    </article>
    <div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  <aside class="unit one-third">
    <section class="profile">
      <h3>Author</h3>
      <img src="https://secure.gravatar.com/avatar/5d3877df7b44f9e9e923c8072d6dd75f.png?size=300" alt="the author Jan Ehrhardt">
    </section>
  </aside>
</div>

<div class="grid wrap">
  <footer class="unit two-thirds license">Copyright © 2011-2013 Jan Ehrhardt - Distributed under the <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</footer>
</div>
