---
layout: default
post: page
---
<div class="row">
  <div class="span8">
    <article>
      <header>
        <p>{{ page.date | date_to_long_string }}</p>
        <h1>{{ page.title }}</h1>
      </header>
      {{ content }}
    </article>
    <div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  <aside class="span4">
    <section class="profile">
      <h3>Author</h3>
      <img src="https://secure.gravatar.com/avatar/5d3877df7b44f9e9e923c8072d6dd75f.png?size=300" alt="the author Jan Ehrhardt">
    </section>

    <section class="license">
      <h3>License</h3>
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
        <img alt="Creative Commons license logo" src="https://i.creativecommons.org/l/by/3.0/88x31.png">
      </a><br>
      The content of this page is distributed under the terms of
      <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
        Creative Commons Attribution 3.0 Unported License
      </a>.
    </section>
  </aside>
</div>
