---
layout: default
post: page
---

<div class="post">
  <div class="post-main">
    <article>
      <header>
        <p>{{ page.date | date_to_long_string }}</p>
        <h1>{{ page.title }}</h1>
      </header>
      {{ content }}
    </article>
    <div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  <aside>
    <section class="profiles">
      <div class="title">Profiles</div>
      <ul>
        <li><a href="http://feeds.feedburner.com/derjanio">» RSS</a></li>
        <li><a href="https://github.com/jehrhardt">» Github</a></li>
        <li><a href="https://twitter.com/derjan">» Twitter</a></li>
        <li><a href="https://www.xing.com/profiles/Jan_Ehrhardt2">» Xing</a></li>
      </ul>
    </section>
  </aside>
</div>

<footer class="page">
  <div class="license">
    Copyright 2011-2013 Jan Ehrhardt - Distributed under
    the <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/">
    Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
  </div>
</footer>
